*.exe
*.o
*.obj
*.txt
*.bin
*.dll
*.rar
*.log
*.res
*.ncb
*.frm
*.user
*.xml
*.pdb
*.manifest
*.lib
*.exp
Release*
*.jpg
*.JPG
*.bmp
*.zip
.svn*
Bin*
DLLTest*
temp*
Objs*
Debug*
source/lib/winsta.def
*.suo
__history/


/Builds/BOT_DEBUG_DLL/Bot_Debug_Dll.sln
/Builds/FakeDllInstaller/*.idc
