#include <windows.h>
#include "res.h"

IDD_BUILDER DIALOGEX 0,-15,186,180
CAPTION "Builder"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
EXSTYLE WS_EX_ACCEPTFILES
BEGIN
  CONTROL "",IDC_FILENAME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,6,6,156,12,WS_EX_STATICEDGE
  CONTROL "...",IDC_BROWSE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_VCENTER|BS_CENTER,165,6,15,12,WS_EX_STATICEDGE
  CONTROL "Список адресов разделенных проблеами:",IDC_STATIC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,24,156,9
  CONTROL "",IDC_URLS,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_MULTILINE,6,36,171,75,WS_EX_STATICEDGE

  CONTROL "Cуффикс для URL:",IDC_STATIC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,115,156,9
  CONTROL "",IDC_URLS_SUFFIX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_MULTILINE,6,125,171,20,WS_EX_STATICEDGE
  
  CONTROL "Готово",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,120,160,57,15,WS_EX_STATICEDGE
  CONTROL "Отмена",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,60,160,57,15,WS_EX_STATICEDGE
  
  
END

